<h2 class="col-md-offset-3 col-md-3"><%= @products.title %></h2>
<div class="container well col-md-7 product-box">
  <div class="col-md-12">
    <div class="item-box col-md-offset-1 col-md-10">
      <p class="center"><%= image_tag(@products.pic, size: "80x80") %></p>
      <p class="center"><%= @products.title %></p>
      <p class="text-pad"><%= @products.description %></p>
      <p class="center">$<%= @products.price %> ||
        <strong><%= @products.inventory %> Remaining</strong>
      </p>
      <div class="center">
        <%= link_to "<div class='glyphicon glyphicon-shopping-cart btn btn-success' aria-hidden='true'></div>".html_safe,
                        cart_path(current_user.id, @products.id), method: 'post' %>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 well col show-height">
  <% if current_user && @current_order != nil %>
      <% if @current_order.first %>
        <%= render partial: 'orders/cart', locals: { orders: @current_order, total: @total_price } %>
      <% end %>
  <% else %>
      <div class="center">
        <p class="glyphicon glyphicon-shopping-cart"></p>
        <p>Items in your shopping cart will display here</p>
      </div>
  <% end %>
</div>
